
@{
    ViewData["Title"] = "Store";
}
<div class="row">
    <div class="col-lg-12">

    </div>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="row text-center">
        <div class="col-lg-12">
            <img src="~/img/basket.png" />
        </div>

    </div>
    <div class="row gy-5">

        <div class="col-lg-4" style="text-align:center;">
            <div style="padding-top:10px;"></div>
            <div class="col-md-12">
                <div id="video-container">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/vLtJfJwzb0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
               
                <h3>КОЛЛЕКЦИЯ JORDAN PARIS SAINT-GERMAIN</h3>
                <small>Всегда роскошные, всегда легендарные</small><br /><br />
                <btn class="btn black-btn">Купить</btn>
            </div>

        </div>
        <br />
        <div class="col-lg-4" style="text-align: center;">
            <div style="padding-top:10px;"></div>
            <div class="col-md-12">
                <img class="img-fluid" src="~/img/poster.png" />
            </div>
        </div>
        <br />
        <br/>
        <div class="col-lg-4" style="text-align: center;">
            <div style="padding-top:10px;"></div>
            <div class="col-md-12">
                <img class="img-fluid" src="~/img/poster2.png" />
            </div>
        </div>
    </div>
</div>

